name: Register Datasets

on:
  workflow_dispatch:

env:
  SUBSCRIPTION_ID: ${{ vars.subscription_id }}
  RESOURCE_GROUP_NAME: ${{ vars.resource_group_name }}
  WORKSPACE_NAME: ${{ vars.workspace_name }}
  ARM_CLIENT_ID:  ${{ vars.ARM_CLIENT_ID }}
  ARM_TENANT_ID:  ${{ vars.ARM_TENANT_ID }}

jobs:
  run-registration:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure Azure ML Agent
        uses: ./.github/actions/configure_azureml_agent
        with:
          arm_client_id: ${{ env.ARM_CLIENT_ID }}
          arm_tenant_id: ${{ env.ARM_TENANT_ID }}
          subscription_id: ${{ env.SUBSCRIPTION_ID }}

      - name: Execute Dataset Registration
        shell: bash
        env:
          AZURE_CLIENT_ID: ${{ env.ARM_CLIENT_ID }}
          AZURE_TENANT_ID: ${{ env.ARM_TENANT_ID }}
          AZURE_SUBSCRIPTION_ID: ${{ env.SUBSCRIPTION_ID }}
        run: |
              python -m mlops.common.register_data_asset \
                  --data_config_path config/data_config.json
