name: Register Datasets

on:
  workflow_dispatch:

env:
  SUBSCRIPTION_ID: ${{ vars.subscription_id }}
  RESOURCE_GROUP_NAME: ${{ vars.resource_group_name }}
  WORKSPACE_NAME: ${{ vars.workspace_name }}
  ARM_CLIENT_ID:  ${{ vars.ARM_CLIENT_ID }}
  ARM_TENANT_ID:  ${{ vars.ARM_TENANT_ID }}

jobs:
  run-registration:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Azure login
        uses: azure/login@v2
        with:
          client-id: ${{ vars.ARM_CLIENT_ID }}
          tenant-id: ${{ vars.ARM_TENANT_ID }}
          subscription-id: ${{ vars.SUBSCRIPTION_ID }}

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install Python Dependencies
        shell: bash
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade -r .github/requirements/execute_job_requirements.txt

      - name: Execute Dataset Registration
        shell: bash
        run: |
              python -m mlops.common.register_data_asset \
                  --data_config_path config/data_config.json
